#white{
    background-color: whitesmoke;
    width:15px;
    height:15px;
}
.black{
    background-color: bisque;   
    width:15px;
    height:15px;
}

#black{
    background-color: bisque;
    width:15px;
    height:15px;
}
